<!DOCTYPE html >
<html>
<head>
    <meta charset="UTF-8">
    <title>All Current Tasks</title>
    <script type="application/javascript">
        function deleteTask(name) {
            deleteTaskWithName(name).then(() => {
                location.replace(location.href);
            })
        }

        function deleteTaskWithName(name) {
            return sendDELETE(`/tasks/${name}`)
        }

        function sendDELETE(url) {
            return fetch(url, {
                method: "DELETE"
            });
        }
    </script>
</head>
<body>
<h1>All Current Tasks</h1>
<p>This is the task definition.
    Tasks here reoccur when current_minute=minute, and current_hour=hour.
    If the value for minute is unset (blank) then the task runs every minute.
    If the value for hour is unset (blank) then the task runs every hour.
</p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>FileName</th>
        <th>Minute</th>
        <th>Hour</th>
        <th>Delete Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.fileName}"></td>
        <td th:text="${task.minute}"></td>
        <td th:text="${task.hour}"></td>
        <td><a th:href="'javascript:deleteTask(\'' + ${task.name} + '\')'">delete task</a></td>
    </tr>
    </tbody>
</table>
<h2>Number of Pending Tasks in RabbitMq Tasks Queue</h2>
<p>When a task definition requires that a task is run in this minute, that task is sent as a message in the RabbitMQ queue.
    The task is run 3 times max if it fails.
</p>
<p th:text="${queueMessageCount}"></p>
<h2>Add A Task</h2>
<form method="post" action="/tasks">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" size="10">
    </div>
    <div>
        <label for="fileName">FileName: </label>
        <select id="fileName" name="fileName">
            <option value="FiveSecondTask.kt">FiveSecondTask.kt</option>
            <option value="TenSecondTask.kt">TenSecondTask.kt</option>
            <option value="FailingTask.kt">FailingTask.kt</option>
        </select>
    </div>
    <div>
        <label for="minute">Minute (between 0 and 59):</label>
        <input type="number" id="minute" name="minute" min="0" max="59">
    </div>
    <div>
        <label for="hour">Hour (between 0 and 59):</label>
        <input type="number" id="hour" name="hour" min="0" max="23">
    </div>
    <input type="submit" value="Add Task">
</form>
</body>
</html>